html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f4f4f4;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post button {
  margin-left: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 5px;
}
